*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: wheat;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: wheat;
    border-bottom: 1px solid black;
}

.logo img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border: 1px solid black;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    background-color: grey;
}

main{
    text-align: left;
    margin-top: 50px;
}

main h1{
    font-size: 24px;
    margin-bottom: 10px;
}

main p{
    margin-bottom: 20px;
    font-size: 18px;
    color:#666;
}

.headquarters {
    text-align: left;
    padding: 50px 0;
    background-color: aqua;
}

.headquarters h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.locations {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.location {
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

.circle img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.contact-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.contact-form {
    width: 45%;
}

.contact-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-form form {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.display-data {
    width: 50%;
    height: auto;
    border-style: solid;
    position: relative;
    margin-right: 10px;
    margin: 0 auto 10px auto;
}

.display-data h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#output p {
    font-size: 1.2em;
}

footer {
    text-align: right;
    padding: 20px;
    background-color: aqua;
    margin-top: 50px;
}

footer p {
    font-size: 1em;
    color: #333;
}