*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid black;
}

.logo img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
    border: 1px solid black;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #f0f0f0;
}

main{
    text-align: left;
    margin-top: 50px;
}

main h1{
    font-size: 24px;
    margin-bottom: 10px;
}

main p{
    margin-bottom: 20px;
    font-size: 18px;
    color:#666;
}